{% extends "base.html" %}

{% block title %}Categories{% endblock title %}

{% block content %}
<main>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for info in category_list %}
                <tr>
                    <!-- name of expense category-->
                    <td>{{ info.name }}</td>
                    <!-- length of expense list -->
                    <td>{{ info.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
