{% extends "base.html" %}
{% block title %}Receipts{% endblock title %}

{% block content %}
<main>
  <h1>My Receipts</h1>
  <table>
    <thead>
      <tr>
        <th>Vendor</th>
        <th>Total</th>
        <th>Tax</th>
        <th>Date</th>
        <th>Category</th>
        <th>Account</th>
      </tr>
    </thead>
    <tbody>
      {% for info in receipt_list.all %}
      <tr>
        <!-- vendor name -->
        <td>{{ info.vendor }}</td>
        <!-- total value -->
        <td>{{ info.total }}</td>
        <!-- tax value -->
        <td>{{ info.tax }}</td>
        <!-- date value m/d/YY -->
        <td>{{ info.date|date:"m/d/y" }}</td>
        <!-- category value  -->
        <td>{{ info.category }}</td>
        <!-- account value -->
        <td>{{ info.account }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}
